//főoldal
@media screen and (max-width: 1440px) {

    h1 {
        font-size: 110px !important;
        line-height: 100px !important;
    }

    #homepage-hero,
    #top-products,
    #selling-and-partners,
    #best-catches,
    #fish-calendar {
        padding-left: 2rem;
    }

    #selling-and-partners {
        .partners-box-image-container {
            img {
                width: 85% !important;
            }
        }
    }

    #selling-and-partners {

        .partners-box-container {
            width: 42.5%;

            .partners-box-column {
                grid-gap: 2px;
                background-color: #f2f2f2;
                position: relative;

                .partners-us-hook {
                    position: absolute;
                    left: 50%;
                    top: 0;

                    .partners-us-reel {
                        position: absolute;
                        width: 1px;
                        height: 800px;
                        transition: all .1s ease;
                        background-color: #777;
                        transform: translateX(50%);
                        animation: height-change 8s infinite;
                    }

                    img {
                        transition: all .1s ease;
                        width: 15px;
                        transform: translateY(800px) translateX(-9px);
                        animation: hook-position-change 8s infinite;
                        transform-origin: top;
                    }
                }

                .dfsb {
                    grid-gap: 2px;
                    background-color: #f2f2f2;

                    .partners-box-image-container {
                        width: 50%;
                        height: 180px;
                        background-color: #fff;

                        img {
                            height: auto;
                            width: auto;
                            object-fit: cover;
                        }
                    }

                    .partners-empty-box {
                        width: 50%;
                        height: 180px;
                        background-color: #fff;
                        display: inline-block;
                    }
                }
            }
        }
    }

    #fish-calendar {

        .main-container {
            .img-container {
                width: 100%;
                height: 350px;

                &:hover~.img-subtext {
                    left: -50% !important;
                }
            }

            .img-link {
                &::after {
                    display: none;
                }

                &:hover~.img-subtext {
                    left: -50% !important;
                }
            }

            .img-subtext {
                left: -25px !important;

                &::before {
                    left: auto;
                    border-left: 25px solid #65A850;
                    border-right: none;
                    right: -25px;
                }
            }
        }

        .container {
            transform: scale(0.8);
        }

    }

    #newsletter-subscribe {

        padding-left: 2rem;
        padding-right: 2rem;

        .dfsb {
            gap: 1rem;

            form {
                width: 100%;
            }
        }
    }

    #top-products {

        .items-other-items-grid {

            width: 42.5%;

            .other-item-container {
                @include gridResponsiveMaxWidth();
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                background-color: #65A850;
                grid-gap: 1px;
                border: 1px solid #65A850;
                border-top: none;
                border-bottom: none;

                .shop-grid-item {
                    position: relative;
                    background-color: #fff;
                    gap: 0;
                    justify-content: space-between !important;
                    transition: all .1s ease-in-out;

                    &:nth-child(2),
                    &:nth-child(3) {
                        background-color: #538B41;

                        * {
                            color: #fff !important;
                        }

                        .shop-item-discount {
                            background-color: #fff;
                            color: #65A850 !important;
                        }

                        .shop-image-container {
                            position: relative;
                            height: 300px;
                            width: 100%;
                            text-align: center;
                            isolation: isolate;
                            transition: all .1s ease;

                            img {
                                object-fit: cover;
                                transition: all .1s ease-in-out;
                                transition-delay: .1s;
                            }

                            .shop-image-background {
                                position: absolute;
                                width: 200px;
                                height: 200px;
                                border-radius: 50%;
                                background-color: #fff;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                z-index: -1;
                            }
                        }

                        a {
                            background-color: #fff !important;
                            color: #65A850 !important;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            @include dFlex();
                            transition: all .1s ease-in-out;

                            i {
                                color: #65A850 !important;
                            }

                            &:hover {
                                background-color: #f2f2f2 !important;
                                transform: translateX(5px);
                            }
                        }

                    }
                }

            }
        }
    }

    #best-catches {

        .best-catches-container {
            width: 42.5%;

            .best-catches-column {
                gap: 0;

                .dfsb {

                    a {
                        width: 50%;
                        height: 200px;
                        position: relative;
                        cursor: pointer;

                        i {
                            font-size: 2rem;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            color: #fff;
                            transition: all .1s ease;
                            transform: translate(-50%, -30%);
                            opacity: 0;
                            pointer-events: none;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -45%);
                            opacity: 0;
                            height: 100%;
                            width: 100%;
                            background-color: #4c7e3c;
                            transition: all .1s ease;
                            z-index: -1;
                        }

                        &:hover {

                            backdrop-filter: blur(2px);

                            i {
                                opacity: 1;
                                transform: translate(-50%, -50%);
                            }

                            &::after {
                                opacity: .5;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }

                }
            }
        }
    }
}

//header, footer
@media screen and (max-width: 1440px) {

    .header {
        padding: 2rem 0;
        border-bottom: 1px solid #65A850;

        .header-row {
            @include maxWidth();
            gap: 1.25rem;
            width: 100% !important;
            padding: 0 2rem;
        }

        .header-row-image-container {
            img {
                width: 200px;
            }
        }

        .header-row-link-container,
        .header-row-social-container {
            @include dFlex();
            gap: 2rem;
        }

        .header-row-social-container {

            gap: 2rem !important;

            .header-row-link {
                @include dFlex();
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
                color: #272727;
                width: 40px;
                height: 40px;
            }
        }
    }

    .footer {
        border-bottom: 1px solid #65A850;
        padding: 2rem 0 0 0;

        .footer-row {
            @include maxWidth();
            padding: 0 2rem !important;
            gap: 1.5rem;
            width: 100% !important;

            &:nth-child(1) {
                padding-bottom: 1rem !important;
            }

            &:nth-child(2) {
                max-width: 100% !important;
                background-color: #F8F8F8;
                text-align: center;
                text-transform: uppercase;
                padding: 1rem 0;

                .footer-row-second-p {
                    color: #9F9F9F;
                }
            }
        }

        .footer-row-image-container {
            img {
                width: 200px;
            }
        }

        .footer-row-link-container,
        .footer-row-social-container {
            @include dFlex();
            gap: 2rem;
        }

        .footer-row-link-container {
            a {
                color: #65A850;
            }
        }

        .footer-row-social-container {

            gap: 2rem !important;

            .footer-row-link {
                @include dFlex();
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
                color: #272727;
                width: 40px;
                height: 40px;
            }
        }
    }
}

//maxw class (1440px max width a sectionök alatt)
@media screen and (max-width: 1440px) {
    .maxw {
        width: 100%;
        padding: 0;
    }
}

//item subpage
@media screen and (max-width: 1440px) {

    #items-other-products {

        .items-other-products-main {
            padding-top: 4rem;
            flex-direction: column;
            align-items: flex-start !important;
        }

        .items-other-items-grid {

            width: 100%;

            .other-item-container {
                @include gridResponsiveMaxWidth();
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                background-color: #65A850;
                grid-gap: 1px;
                border: 1px solid #65A850;
                border-top: 1px solid #65A850 !important;
                border-bottom: none;

                .shop-grid-item {
                    position: relative;
                    background-color: #fff;
                    gap: 0;
                    justify-content: space-between !important;
                    transition: all .1s ease-in-out;

                    .shop-item-discount {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        border-radius: 50%;
                        background-color: #65A850;
                        color: #fff;
                        width: 60px;
                        height: 60px;
                        z-index: 2;
                        font-size: 1.25rem;
                        font-weight: bold;
                    }

                    .shop-image-container {
                        position: relative;
                        height: 300px;
                        width: 100%;
                        text-align: center;
                        isolation: isolate;
                        transition: all .1s ease;

                        img {
                            width: 250px;
                            height: auto;
                            object-fit: cover;
                            transition: all .1s ease-in-out;
                            transition-delay: .1s;
                        }

                        .shop-image-background {
                            position: absolute;
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            background-color: #65A850;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: -1;
                        }
                    }

                    .shop-item-body {
                        width: 100%;

                        p,
                        span,
                        h4 {
                            pointer-events: none;
                        }

                        .dfcc {
                            gap: 0;
                            padding: 1rem;

                            .shop-item-title {
                                align-items: flex-start;

                                p {
                                    color: #777;
                                }
                            }

                            .shop-item-price {
                                gap: .5rem;

                                span {
                                    color: #777;
                                }
                            }


                            a {
                                background-color: #65A850;
                                color: #fff;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                @include dFlex();
                                transition: all .1s ease-in-out;

                                i {
                                    color: #fff !important;
                                }

                                &:hover {
                                    background-color: #4c7e3c;
                                    transform: translateX(5px);
                                }
                            }
                        }

                        .shop-item-tocart {
                            background-color: #65A850;
                            padding: 1rem;
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: bold;
                            transition: all .1s ease;

                            i {
                                color: #fff;
                            }

                            &:hover {
                                background-color: #4c7e3c;
                            }
                        }

                        h4 {
                            font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
                            color: #272727;
                            font-size: 2rem;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        background-color: #fff !important;

                        * {
                            color: #272727 !important;
                        }

                        .shop-image-container {
                            position: relative;
                            height: 300px;
                            width: 100%;
                            text-align: center;
                            isolation: isolate;
                            transition: all .1s ease;

                            img {
                                width: 250px;
                                height: auto;
                                object-fit: cover;
                                transition: all .1s ease-in-out;
                                transition-delay: .1s;
                            }

                            .shop-image-background {
                                position: absolute;
                                width: 200px;
                                height: 200px;
                                border-radius: 50%;
                                background-color: #fff;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                z-index: -1;
                            }
                        }

                    }

                    &:hover {

                        .shop-image-container {
                            position: relative;
                            height: 300px;
                            width: 100%;
                            text-align: center;
                            isolation: isolate;

                            img {
                                transform: translateY(-10px);
                            }
                        }
                    }
                }

            }
        }
    }
}

//webshop subpage
@media screen and (max-width: 1440px) {

    #shop-subpage-hero,
    #shop-product-list {
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        h1 {
            font-size: 110px;
            line-height: 100px;
        }

        .shop-search-form {
            .shop-subpage-search-first+.dfsb {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

//contact subpage
@media screen and (max-width: 1440px) {

    #contact-section-subpage {
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        .shop-search-form {
            .shop-subpage-search-first+.dfsb {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        #subpage-contact-links {
            a {
                border-left: none;
                border-top: 2px solid #ccc;
            }
        }
    }
}

//about subpage
@media screen and (max-width: 1440px) {

    #about-subpage-hero,
    #about-subpage-main {
        padding: 2rem;
    }

    #about-subpage-hero {
        padding-bottom: 0 !important;

        .homepage-main {
            flex-direction: column;

            .shop-search-bar,
            .shop-subpage-product-list {
                width: 100% !important;
            }
        }
    }

    #about-subpage-main {
        .about-us-grid {
            img {
                width: auto;
            }
        }
    }
}

//cart subpage
@media screen and (max-width: 1440px) {

    #cart-main-section {
        padding: 6rem 2rem;
    }
}

//profile subpage
@media screen and (max-width: 1440px) {

    .profile-user-subpage-login-section {
        padding: 6rem 2rem !important;
    }
}

//profile-logged-in subpage
@media screen and (max-width: 1440px) {

    #profile-subpage-user-section {
        padding: 6rem 2rem !important;
    }
}

//success subpage
@media screen and (max-width: 1440px) {

    #checkout-section-thankyou {
        padding: 6rem 2rem !important;
    }
}

//cookies subpage
@media screen and (max-width: 1440px) {

    #cookies-section {
        padding: 6rem 2rem !important;
    }
}

//partners subpage
@media screen and (max-width: 1440px) {

    #partners-subpage-hero,
    #partners-subpage-partnerlist,
    #partners-subpage-forpartners {
        padding: 3rem 2rem !important;
    }

    #partners-subpage-partnerlist {
        .partners-subpage-partnerlist-container {
            .partners-subpage-partnerlist-box {
                .partners-subpage-descbox {
                    a {
                        word-break: break-word;
                    }
                }
            }
        }
    }
}

//item subpage
@media screen and (max-width: 1440px) {

    #item-subpage-hero,
    #items-other-products {
        padding: 3rem 2rem !important;
    }

    #items-other-products {

        .homepage-main {
            .items-other-products-main {
                flex-direction: row !important;

                .other-item-container {
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    border: 1px solid #65A850;

                    .shop-grid-item {

                        &:nth-child(2),
                        &:nth-child(3) {
                            background-color: #65A850 !important;

                            * {
                                color: #fff !important;
                            }

                            .shop-item-discount {
                                background-color: #fff;
                                color: #65A850 !important;
                            }

                            .shop-image-container {
                                position: relative;
                                height: 300px;
                                width: 100%;
                                text-align: center;
                                isolation: isolate;
                                transition: all .1s ease;

                                img {
                                    object-fit: cover;
                                    transition: all .1s ease-in-out;
                                    transition-delay: .1s;
                                }

                                .shop-image-background {
                                    position: absolute;
                                    width: 200px;
                                    height: 200px;
                                    border-radius: 50%;
                                    background-color: #fff;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: -1;
                                }
                            }

                            a {
                                background-color: #fff !important;
                                color: #65A850 !important;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                @include dFlex();
                                transition: all .1s ease-in-out;

                                i {
                                    color: #65A850 !important;
                                }

                                &:hover {
                                    background-color: #f2f2f2 !important;
                                    transform: translateX(5px);
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

// -----------------
// HOTFIXES

//főoldal
@media screen and (max-width: 1100px) {

    #homepage-hero,
    #top-products,
    #selling-and-partners,
    #best-catches,
    #fish-calendar,
    #newsletter-subscribe {

        h1 {
            font-size: 90px;
            line-height: 80px;
        }
    }

    .header {
        padding: 2rem 0;
        border-bottom: 1px solid #65A850;

        .header-row {
            gap: 1.25rem;
            width: 100% !important;
            padding: 0 2rem;
        }

        .header-row-image-container {
            img {
                width: 200px;
            }
        }

        .header-row-link-container,
        .header-row-social-container {
            @include dFlex();
            gap: 1.25rem !important;
        }

        div.header-row-social-container {

            gap: 1.25rem !important;

            .header-row-link {
                @include dFlex();
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
                color: #272727;
                width: 40px;
                height: 40px;
            }
        }
    }
}

//cart subpage
@media screen and (max-width: 1100px) {

    #cart-main-section {
        .cart-subpage-title-firstrow {
            align-items: stretch;
        }
    }

    @media screen and (max-width: 940px) {
        #cart-main-section {
            .homepage-main {
                flex-direction: column;
                gap: 0 !important;

                .homepage-main-hero,
                .homepage-main-hero+* {
                    width: 100% !important;
                }
            }
        }
    }

}

//header, footer
@media screen and (max-width: 870px) {

    .header {

        .header-row {
            flex-direction: column !important;
            padding: 1rem;
            gap: 2rem;
        }

    }


    #fish-calendar {

        .container {
            transform: scale(0.6);
        }

    }

    #newsletter-subscribe {

        padding: 0;

        h2 {
            padding: 1rem 0;
        }

        .dfsb {
            flex-direction: column;
        }
    }

    .footer {

        .footer-row {
            flex-direction: column;
        }
    }

}

//contact section
@media screen and (max-width: 870px) {

    #contact-section-subpage {
        .homepage-main {
            flex-direction: column;
            gap: 2rem;

            .homepage-main-hero,
            .homepage-main-hero+* {
                width: 100%;
            }
        }

        #subpage-contact-links {
            gap: 0rem;
        }
    }

}

//profile-logged-in subpage
@media screen and (max-width: 1100px) {

    #profile-subpage-user-section {
        padding: 6rem 2rem !important;

        .homepage-main {
            flex-direction: column;

            .homepage-main-hero,
            .homepage-main-hero+* {
                width: 100%;
            }

            .profile-subpage-running-order {
                .profile-subpage-order-container {
                    .user-orders-list {
                        .dfc:nth-child(1) {
                            width: 100%;
                            justify-content: space-between !important;

                            .order-part-box {
                                width: 100%;

                                .user-order-id {
                                    margin-bottom: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//item subpage
@media screen and (max-width: 1100px) {

    #item-subpage-hero,
    #items-other-products {
        padding: 3rem 2rem !important;

        h1 {
            font-size: 100px !important;
            line-height: 90px !important;
        }
    }

    #item-subpage-hero {

        .item-image-container {
            img {
                height: 300px !important;
            }

            .item-image-container-background {
                width: 250px !important;
                height: 250px !important;

                .circle {
                    display: none;
                }
            }
        }
    }

    #items-other-products {

        .homepage-main {
            .items-other-products-main {
                flex-direction: row !important;
                align-items: center !important;

                .other-item-container {
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

                    .shop-grid-item {

                        &:nth-child(2),
                        &:nth-child(3) {
                            background-color: #65A850 !important;

                            * {
                                color: #fff !important;
                            }

                            .shop-item-discount {
                                background-color: #fff;
                                color: #65A850 !important;
                            }

                            .shop-image-container {
                                position: relative;
                                height: 300px;
                                width: 100%;
                                text-align: center;
                                isolation: isolate;
                                transition: all .1s ease;

                                img {
                                    object-fit: cover;
                                    transition: all .1s ease-in-out;
                                    transition-delay: .1s;
                                }

                                .shop-image-background {
                                    position: absolute;
                                    width: 200px;
                                    height: 200px;
                                    border-radius: 50%;
                                    background-color: #fff;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: -1;
                                }
                            }

                            a {
                                background-color: #fff !important;
                                color: #65A850 !important;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                @include dFlex();
                                transition: all .1s ease-in-out;

                                i {
                                    color: #65A850 !important;
                                }

                                &:hover {
                                    background-color: #f2f2f2 !important;
                                    transform: translateX(5px);
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

//partners subpage
@media screen and (max-width: 1100px) {

    #partners-subpage-hero,
    #partners-subpage-partnerlist,
    #partners-subpage-forpartners {
        padding: 3rem 2rem !important;
    }

    #partners-subpage-partnerlist {
        .partners-subpage-partnerlist-container {
            .partners-subpage-partnerlist-box {
                width: calc(50% - .7rem) !important;
            }
        }
    }

    #partners-subpage-hero,
    #partners-subpage-partnerlist,
    #partners-subpage-forpartners {
        .homepage-main {
            flex-direction: column;

            .homepage-main-hero,
            .homepage-main-hero+* {
                width: 100%;
            }
        }
    }
}