@mixin maxWidth() {
    max-width: 1440px;
    margin: auto;
}

@mixin dFlex() {

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridResponsive() {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
}

@mixin gridResponsiveMaxWidth() {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
}

@media screen and (max-width: 560px) {
    @mixin dFlex() {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @mixin maxWidth() {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    @mixin gridResponsive() {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}