.fish-book {
    width: 42.5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-layer {

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(37, 80, 28, 0.733);
    z-index: -2;
}

.header-container {

    text-align: center;
    margin-bottom: 2rem;
}

#leiras {

    font-size: 1rem;
    color: #272727;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.chooselang {

    font-size: 0.75rem;
    font-style: italic;
    color: #272727;
    letter-spacing: 1px;

    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}

.deactivated {

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
}

.main-container {

    position: relative;
}

.container {

    text-align: center;
    display: flex;
    max-width: 1150px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.img-container {

    width: 610px;
    height: 300px;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: all 0.4s ease;
    position: relative;
}

.img-container>.img-main {

    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.img-container::before {

    content: "";
    position: absolute;
    bottom: -200px;
    left: 0;
    background: var(--textcolor);
    width: 100%;
    height: 70px;
    transition: all 0.3s ease;
    z-index: 1;
}

.img-container::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(58, 145, 34, 0.63);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    opacity: 0;
}

.img-container:hover:before {

    bottom: -50px;
}

.img-container:hover:after {

    opacity: 1;
}

.img-container:hover~.img-article,
.img-link:hover~.img-article {

    transform: translateY(-20px);
    opacity: 1;
    visibility: visible;
}

.cover {

    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.img-article {

    background: transparent;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    position: absolute;
    top: 40px;
    left: 25px;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.3s ease;
    max-width: 550px;
    pointer-events: none;
}

.img-article>.img-article-h1 {

    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #fff;
}

.img-article>.img-article-p {

    color: #fff;
}


.img-link {

    position: absolute;
    bottom: 40px;
    left: 40px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: var(--textcolor);
    font-family: inherit;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    transition: all 0.4s ease;
    z-index: 1;
}

.img-link>button {

    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 600;
    color: #272727;
    background-color: #ccc !important;
    letter-spacing: 1px;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    background: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;


    background: linear-gradient(to right, #fff, 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
}

.img-link>button:hover {

    background-position: 0% 50%;
    color: rgb(34, 34, 34);
}

.img-link::after {

    content: "";
    position: absolute;
    top: -200px;
    left: -40px;
    background: rgba(74, 74, 74, 0.75);
    width: 610px;
    height: 300px;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.img-container:hover~.img-link {

    transform: translateY(-40px);
    opacity: 1;
    visibility: visible;
}

.img-link:hover {

    transform: translateY(-40px);
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.img-link:hover:after {

    opacity: 1;
    z-index: -1;
}

.img-link:hover>button>i {

    animation: animate 0.35s ease-in;
}


@keyframes animate {

    25% {
        transform: rotate(-40deg);
    }

    50% {
        transform: rotate(40deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.img-info {

    right: 20px;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.img-info i {

    color: var(--textcolor);
    font-size: 3rem;
}

.img-container:hover~.img-info,
.img-link:hover~.img-info {

    bottom: 22%;
    opacity: 1;
    visibility: visible;
}

.img-subtext {

    top: 0;
    right: -225px;
    max-width: 195px;
    height: auto;
    position: absolute;
    color: #fff !important;
    background: #65A850;
    padding: 2rem;
    z-index: 1;
    pointer-events: none;

    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-150px);
}

.img-subtext::before {

    content: "";
    position: absolute;
    top: 0px;
    left: -25px;
    width: 0;
    height: 0;
    border-right: 25px solid #65A850;
    border-bottom: 25px solid transparent;
}

.img-subtext>.img-subtext-h1,
.img-subtext>.img-subtext-maxage {

    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff !important;
}

.img-subtext>.img-subtext-maxage {

    font-size: 1.25rem;
    margin-top: 1.5rem;
}

.img-container:hover~.img-subtext,
.img-link:hover~.img-subtext {

    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.circle {

    background: #272727;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    overflow: hidden;
    transition: all 0.3s ease;

    cursor: pointer;
    position: relative;
}

.circle::before {

    content: "";
    position: absolute;
    background: #000;
    top: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transition: all 0.2s ease;

    transform: translate(-50%, -50%);
}

.circle:hover:before {

    width: 40px;
    height: 40px;
}

.circle::after {

    content: "";
    position: absolute;
    transform: skew(150deg);
    width: 40px;
    height: 40px;
    left: -100px;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.circle:hover:after {

    left: 100px;
}


.container>button {

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #65A850;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    border: none;
}

.container>button>i {

    font-size: 1.5rem;
    color: #fff;
    transition: all .3s ease-in-out;
}

.container>button:hover {

    background: #4c7e3c;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
}

.active {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: -1;
}

.language-container {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.language-container>button {

    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 100px;
    padding: 10px;
    font-size: 1rem;
    color: #65A850;
    font-weight: bold;
    border: 2px solid #65A850;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

.language-container>button:hover {

    background: var(--maincolor);
    transform: translateY(-5px);
}

.language-active {

    background: #65A850 !important;
    color: #fff !important;
    transform: translateY(-5px);
}

.language-container>.language>img {

    width: 50%;
}

.fishbook-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4c7e3c;
    z-index: -2;
    opacity: .15;
}

@media screen and (max-width:560px) {

    #fish-calendar .section-text-button {
        padding: 2rem 0 !important;
    }

    section#fish-calendar {
        padding: 0 !important;
    }

    section#fish-calendar .section-text-button {
        padding: 2rem !important;
    }

    .fish-book .header-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .img-container {
        width: 100%;
    }

    .img-subtext {
        right: -150px;
    }

    .img-subtext::before {
        top: 100%;
        bottom: -25px;
        left: 25px;
    }

    .img-container:hover~.img-subtext,
    .img-link:hover~.img-subtext {

        opacity: 1;
        visibility: visible;
        transform: translateY(-300px) translateX(-150px) !important;
    }
}