@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    color: #272727;
}

*::selection {
    background-color: #65A850;
    color: #fff;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;

}

hr {
    border: 1px solid #f2f2f2;
}

.header {
    padding: .5rem 0;
    border-bottom: 1px solid #65A850;

    .header-row {
        @include maxWidth();
    }

    .header-row-image-container {
        img {
            width: 200px;
        }
    }

    .header-row-link-container,
    .header-row-social-container {
        @include dFlex();
        gap: 4rem;
    }

    .header-row-social-container {

        gap: 2rem !important;

        .header-row-link {
            @include dFlex();
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: #fff;
            color: #272727;
            width: 40px;
            height: 40px;
        }
    }
}

.footer {
    border-bottom: 1px solid #65A850;

    .footer-row {
        @include maxWidth();
        padding: 2rem 0;

        &:nth-child(2) {
            max-width: 100% !important;
            background-color: #F8F8F8;
            text-align: center;
            text-transform: uppercase;
            padding: 1rem 0;

            .footer-row-second-p {
                color: #9F9F9F;
            }
        }
    }

    .footer-row-image-container {
        img {
            width: 200px;
        }
    }

    .footer-row-link-container,
    .footer-row-social-container {
        @include dFlex();
        gap: 4rem;
    }

    .footer-row-link-container {
        a {
            color: #65A850;
        }
    }

    .footer-row-social-container {

        gap: 2rem !important;

        .footer-row-link {
            @include dFlex();
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: #fff;
            color: #272727;
            width: 40px;
            height: 40px;
        }
    }
}

.section {
    padding: 6rem 0;

    .section-text-button {
        @include dFlex();
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 2rem;
        width: 55%;
    }
}

.section-paddinglow {
    padding: 2rem 0;
}

.button-green,
.button-white,
.button-gray {
    @include dFlex();
    text-transform: uppercase;
    background-color: #65A850;
    color: #fff;
    padding: 1rem;
    appearance: none;
    border: none;
    outline: none;
    gap: 1rem;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    span,
    i {
        color: #fff;
    }
}

.button-white {
    background-color: #fff;
    color: #272727;

    span,
    i {
        color: #272727;
    }
}

.button-gray {
    background-color: #f2f2f2;
    color: #272727;

    span,
    i {
        color: #272727;
    }
}

.title-firstline {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
}

.title-secondline-h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 180px;
    line-height: 150px;
    letter-spacing: 5px;
}

.whitecolor {
    color: #fff;
}

.title-big-green-brobaits {
    margin-top: -40px;
}

.greenbg {
    background-color: #65A850;
}

.section-paragraph-gray {
    color: #777777;
    line-height: 24px;
}

.section-paragraph-white {
    color: #fff;
    line-height: 24px;
}

.admin-login-error {
    @include dFlex();
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start !important;
}

.maxw {
    @include maxWidth();
}

.admin-section {

    input[type=text],
    input[type=password] {
        border: none;
        outline: none;
        background: #efefef;
        padding: 1rem;
        width: 400px;
        transition: all .1s ease-in-out;

        &:focus,
        &:active {
            padding: 1.5rem 2rem;
        }
    }
}

.admin-products-list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #65A850;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #65A850;
        color: white;
    }

    .admin-product-action {
        background-color: #fff;
        color: #272727;
        -webkit-box-shadow: inset 0px 0px 0px 2px #65A850;
        -moz-box-shadow: inset 0px 0px 0px 2px #65A850;
        box-shadow: inset 0px 0px 0px 2px #65A850;
    }
}

.product-form-grid {
    @include gridResponsive();
    gap: 1rem;
    padding: 1rem;
    background-color: #f2f2f2;

    .product-form-container {

        @include dFlex();
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1rem;
        background-color: #fff;
        padding: 1rem;

        .product-form-desc {
            max-height: 150px;
            overflow: scroll;
        }

        input,
        select,
        textarea {
            font-size: 16px;
            height: 100%;
            width: 100% !important;
            border: none;
            outline: none;
            background: #efefef;
            padding: 1rem;
            transition: all .1s ease-in-out;

            &:focus,
            &:active {
                padding: 1rem 2rem;
            }

            &:hover {
                background: #d8d8d8;
            }
        }

        #image-delete {
            width: 40px !important;
            height: 40px;
        }

        .product-check-label {
            background: transparent;
            color: #272727;
            padding: 0;
        }

        label {
            padding: 1rem;
            background-color: #65A850;
            color: #fff;
            width: 100%;
        }
    }

    .product-submit {
        -webkit-box-shadow: inset 0px 0px 0px 20px #fff;
        -moz-box-shadow: inset 0px 0px 0px 20px #fff;
        box-shadow: inset 0px 0px 0px 20px #fff;
        transition: all .1s ease-in-out;

        &:hover {
            background-color: #457436;
        }
    }
}

.dffc {
    @include dFlex();
    gap: 1rem;
}

.dfc {
    @include dFlex();
    gap: 1rem;
    justify-content: center !important;
    align-items: flex-start !important;
}

.dffs {
    @include dFlex();
    gap: 1rem;
    justify-content: flex-start !important;
    align-items: center !important;
}

.dfcc {
    @include dFlex();
    flex-direction: column;
    gap: 1rem;
    justify-content: center !important;
    align-items: flex-start !important;
}

.dfsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}